# Prerequisites

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test Results
*.pass

# Makefile Dependencies
*.d

*.generated

# VSCode
.vscode/*

# Vim
*.swp

# Project Level
libs/gcm.cache
libs/module_build

# Ignore the generated test binaries
testing/Test*

